@model Technics.com.Models.User


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ResetPassword</title>
</head>
<body>

        <div class="col-md-4" style="margin-top:6%;margin-left:20px">
            <h1 class="h4 mb-3 font-weight-normal" style="">Введите новый пароль</h1>
            <form asp-action="ResetPassword">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Password" class="control-label">Пароль</label>
                    <input id="password" asp-for="Password" style="width:200px" class="form-control" required />
                    <p class="help-block">Не меньше 6 символов</p>
                </div>
                <div class="form-group" style="margin-top:5%">
                    <label class="control-label">Подтверждение пароля</label>
                    <input id="confirmPassword" type="password" onformchange="checkParams()" style="width:200px" class="form-control" required />
                    <p class="help-block">Не меньше 6 символов</p>
                </div>
                <div class="form-group">
                    <input type="submit" id="submit" onclick="checkParams()" value="Подтвердить"  style="background-color:#84837a;" class="btn btn-success" />
                </div>
            </form>
        </div>
</body>
</html>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {

        $("#submit").click(function (e) {

            var pass = $('#password').val();
            var confirm = $('#confirmPassword').val();
            if (confirm != pass) {
                e.preventDefault();
                alert("Пароли не совпадают!");
            }
            else {
                if (confirm.length < 6 || pass.length<6) {
                     e.preventDefault();
                    alert("Неправильный ввод данных");
                }
            }
        });

    });

</script>


