@model Technics.com.Models.User


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ForgotPassword</title>
</head>
<body>
    <h1 class="h4 mb-3 font-weight-normal" style="margin-top:6%;margin-left:4%">Восстановление пароля</h1>
    
    @{
        if (ViewBag.message != null)
        {
            <div class="alert alert-success" style="width:520px;text-align:center;margin-left:4%" role="alert">
                <strong>@ViewBag.message!</strong>
            </div>
        }
    }

    <form asp-action="ForgotPassword" method="post" style="margin-top:1%;margin-left:4%">
        <fieldset>
            <div class="control-group">
                <label class="control-label" style="margin-top:0px" for="password">Введите ваш почтовый адрес</label>
                <div class="controls">
                    <input type="email" autocomplete="off" asp-for="Email" placeholder="" style="width:300px" required class="form-control">
                </div>
            </div>

            <div class="control-group">
                <div class="controls">
                    <button type="submit" style="background-color:#84837a;margin-top:15px" class="btn btn-success">Отправить</button>
                </div>
            </div>
        </fieldset>
    </form>

</body>
</html>

