@model User

<form asp-action="UpdateUserInformation" method="post" style="margin-left:50px;margin-top:80px">
    <h4>Личные данные</h4>
    <fieldset>
        <label class="control-label" style="margin-left:7px;margin-top:7px" asp-for="Name">Имя</label>
        <div class="col-md-10" style="margin-left:-10px">
            <input autocomplete="off" asp-for="Name" style="width:300px" class="form-control" required />
            <span asp-validation-for="Name" class="text-danger"></span>
            <p class="help-block">Не меньше 3 букв</p>
        </div>

        <div class="col-md-10" style="margin-left:-10px">
            <label class="control-label" style="margin-top:7px" asp-for="LastName">Фамилия</label>
            <input autocomplete="off" asp-for="LastName" style="width:300px" class="form-control" required />
            <span asp-validation-for="LastName" class="text-danger"></span>
            <p class="help-block">Не меньше 3 букв</p>
        </div>

        <div class="control-group">
            <label class="control-label" style="margin-top:7px" for="password">Телефон</label>
            <div class="controls">
                <input type="text" autocomplete="off" asp-for="Phone" placeholder="" style="width:300px" required class="form-control">
                <p class="help-block">+380...</p>
            </div>
        </div>

        <div class="control-group">
            <div class="controls">
                <button type="submit" style="background-color:#84837a" class="btn btn-success">Сохранить</button>
            </div>
        </div>
    </fieldset>
</form>
